<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🛒Shopping List</title>
    <link rel="stylesheet" href="../public/styles.css" />
  </head>
  <body>
    <div class="container main">
      <div class="list">
        <div class="top">
          <h1>Shopping List 🛒</h1>
          <h2 class="clear">Clear</h2>
        </div>
        <!-- <div class="scrollable"> -->
        <ul class="scrollable">
          <li class="item">
            <span class="text"> Item in the list</span
            ><img class="trash" src="icons/icons8-trash-can.svg" width="30px" />
          </li>
        </ul>
        <!-- </div> -->
        <div class="todo-form">
          <input type="text" id="item-input" placeholder="Add a new item" />
          <button id="add-item">+</button>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="module" src="../index.js"></script>
    <script type="module" src="../functionality.js"></script>
  </body>
</html>
